/* ---------------- Home ---------------- */
.text-logo {
    margin-left: 10px;
}
.filters-form {
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    padding: 0.65rem;
}

.icon-footer {
    height: 24px;
    width: 24px;
}

.dev-img-footer {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}


.card-body {
    padding-top: 8px;
    padding-bottom: 8px;
}

/* ---------------- Card ---------------- */
.infoCardOverlay {
    background-color: white;
    border-radius: 5px;
    padding: 2px 10px 2px 10px;
    opacity: 0.75;
}

.infoCard {
    line-height: 1rem;
    margin-bottom: 1rem;
}

.titleCard {
    font-style: italic;
    font-size: 0.7rem;
    font-weight: bold;
}
